##### Apply and Groupby operations

In [1]:
import pandas as pd
housing = pd.read_csv('housing.csv')
housing

,Neighborhood,Building.Classification,Total.Units,Year.Built,Gross.SqFt,Estimated.Gross.Income,Gross.Income.per.SqFt,Estimated.Expense,Expense.per.SqFt,Net.Operating.Income,Full.Market.Value,Market.Value.per.SqFt,Boro
0,FINANCIAL,R9-CONDOMINIUM,42,1920.0,36500,1332615,36.51,342005,9.37,990610,7300000,200.00,Manhattan
1,FINANCIAL,R4-CONDOMINIUM,78,1985.0,126420,6633257,52.47,1762295,13.94,4870962,30690000,242.76,Manhattan
2,FINANCIAL,RR-CONDOMINIUM,500,NaN,554174,17310000,31.24,3543000,6.39,13767000,90970000,164.15,Manhattan
3,FINANCIAL,R4-CONDOMINIUM,282,1930.0,249076,11776313,47.28,2784670,11.18,8991643,67556006,271.23,Manhattan
4,TRIBECA,R4-CONDOMINIUM,239,1985.0,219495,10004582,45.58,2783197,12.68,7221385,54320996,247.48,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,ROSEBANK,R4-CONDOMINIUM,52,NaN,62391,831672,13.33,326305,5.23,505367,3354003,53.76,Staten Island
2622,ARROCHAR-SHORE ACRES,R4-CONDOMINIUM,102,1987.0,90618,1274089,14.06,637045,7.03,637044,5233000,57.75,Staten Island
2623,GRANT CITY,R4-CONDOMINIUM,100,1986.0,78903,1321625,16.75,673832,8.54,647793,4687000,59.40,Staten Island
2624,GRANT CITY,R4-CONDOMINIUM,159,1961.0,166712,2343971,14.06,1171985,7.03,1171986,5967531,35.80,Staten Island
2625,GREAT KILLS,R4-CONDOMINIUM,67,1965.0,108864,1298748,11.93,722857,6.64,575891,3673011,33.74,Staten Island

#### 1. standarization 
- Transform the variable Gross.SqFt to its Zscore and 
- save it into a new column stand_Gross.SqFt. 
- print the first  obs of stand_Gross.SqFt column.

In [2]:
from scipy.stats import zscore

housing['stand_Gross.SqFt'] = zscore(housing['Gross.SqFt'])

print(housing['stand_Gross.SqFt'])

# First observation
housing['stand_Gross.SqFt'].iloc[0]

0      -0.321278
1       0.303182
2       3.273773
3       1.154982
4       0.949553
          ...
2621   -0.141475
2622    0.054551
2623   -0.026805
2624    0.582995
2625    0.181263
Name: stand_Gross.SqFt, Length: 2626, dtype: float64

-0.32127817079397847

#### 2. define a function 
- define a function outlierDetectionZ that returns the string literal 'low' if the z-score of the input parameter is less than -3 and return the string literal 'high' if the z-score value is greater than 3

In [3]:
def outlierDetectionZ(zScore):
    if zScore < -3: 
        return 'low'
    elif zScore > 3: 
        return 'high'

#### 3. Vectorize the function
- vectorize outlierDetectionZ function and name the vectorized function as outlierDetectionZ_vec
- call the vectorized function with housing['stand_Gross.SqFt'] as argument. Save the return value in a variable lowhigh. 
- loop through the list lowhigh, and print the obs labels with either low or high and the corresponding row from the dataframe.

In [4]:
import numpy as np

# Vectorizing the function
outlierDetectionZ_vec = np.vectorize(outlierDetectionZ)

lowhigh = outlierDetectionZ_vec(housing['stand_Gross.SqFt'])

for i, value in enumerate(lowhigh):
    if value == 'low' or value == 'high':
        print(f'Observation label: {value}, row {i}')

Observation label: high, row 2
Observation label: high, row 11
Observation label: high, row 23
Observation label: high, row 33
Observation label: high, row 81
Observation label: high, row 462
Observation label: high, row 498
Observation label: high, row 606
Observation label: high, row 652
Observation label: high, row 654
Observation label: high, row 656
Observation label: high, row 680
Observation label: high, row 681
Observation label: high, row 683
Observation label: high, row 688
Observation label: high, row 689
Observation label: high, row 722
Observation label: high, row 725
Observation label: high, row 731
Observation label: high, row 732
Observation label: high, row 734
Observation label: high, row 735
Observation label: high, row 756
Observation label: high, row 784
Observation label: high, row 803
Observation label: high, row 808
Observation label: high, row 811
Observation label: high, row 931
Observation label: high, row 1028
Observation label: high, row 1128
Observation label: high, row 1410
Observation label: high, row 2021
Observation label: high, row 2472
Observation label: high, row 2566
Observation label: high, row 2567
Observation label: high, row 2568

#### 4. Use apply 
- Instead of vectorizing the function, use apply on housing['stand_Gross.SqFt'] and pass outlierDetectionZ as argument to get obs with labels high/low. 
- show the obs that have labels low or high (as per the previous question)

In [5]:
lowhigh = housing['stand_Gross.SqFt'].apply(outlierDetectionZ)

for i, value in enumerate(lowhigh):
    if value == 'low' or value == 'high':
        print(f'Observation label: {value}, row {i}')

Observation label: high, row 2
Observation label: high, row 11
Observation label: high, row 23
Observation label: high, row 33
Observation label: high, row 81
Observation label: high, row 462
Observation label: high, row 498
Observation label: high, row 606
Observation label: high, row 652
Observation label: high, row 654
Observation label: high, row 656
Observation label: high, row 680
Observation label: high, row 681
Observation label: high, row 683
Observation label: high, row 688
Observation label: high, row 689
Observation label: high, row 722
Observation label: high, row 725
Observation label: high, row 731
Observation label: high, row 732
Observation label: high, row 734
Observation label: high, row 735
Observation label: high, row 756
Observation label: high, row 784
Observation label: high, row 803
Observation label: high, row 808
Observation label: high, row 811
Observation label: high, row 931
Observation label: high, row 1028
Observation label: high, row 1128
Observation label: high, row 1410
Observation label: high, row 2021
Observation label: high, row 2472
Observation label: high, row 2566
Observation label: high, row 2567
Observation label: high, row 2568

#### 5.  Use apply and lambda function 
- on the stand_Gross.SqFt column, call apply with lambda function. 
- the lambda function returns 'outlier' when the z-score is lower than -3 or larger than 3, and none otherwise.

In [6]:
housing['stand_Gross.SqFt'].apply(lambda x: 'outlier' if x<-3 or x>3 else 'none')

0          none
1          none
2       outlier
3          none
4          none
         ...
2621       none
2622       none
2623       none
2624       none
2625       none
Name: stand_Gross.SqFt, Length: 2626, dtype: object

#### 6. Use group by and aggregate functions. 
    6.1. Show the average full market value per boro.

    6.2. Show the average full market value per boro and Neighborhood

    6.3. show the average, min and max full market value per boro and Neighborhood. Use agg function and rename the columns as min Market val, max market val and avg market val and also flatten the dataframe.

In [7]:
average_full_market_per_boro = housing.groupby('Boro')['Full.Market.Value'].mean()
average_full_market_per_boro

Boro
Bronx            6.330082e+06
Brooklyn         3.028974e+06
Manhattan        2.143214e+07
Queens           4.167439e+06
Staten Island    3.313400e+06
Name: Full.Market.Value, dtype: float64

In [8]:
average_fm_per_boro_neigh = housing.groupby(['Boro', 'Neighborhood'])['Full.Market.Value'].mean()
average_fm_per_boro_neigh

Boro           Neighborhood
Bronx          BEDFORD PARK/NORWOOD     1816498.0
               BELMONT                  2752000.0
               BRONX-UNKNOWN           74391091.5
               BRONXDALE                3125671.0
               CITY ISLAND               678001.0
                                          ...
Staten Island  ROSEBANK                 3354003.0
               SILVER LAKE              2077903.0
               SUNNYSIDE                2340743.0
               TOMPKINSVILLE            5697922.0
               WEST NEW BRIGHTON        1148655.0
Name: Full.Market.Value, Length: 152, dtype: float64

In [9]:
market_value_res = housing.groupby(['Boro', 'Neighborhood'])['Full.Market.Value'].agg(['mean','min', 'max']).rename(columns={'mean': 'avg market val',
    'min': 'min market val',
    'max': 'max market val'}).reset_index()

market_value_res

,Boro,Neighborhood,avg market val,min market val,max market val
0,Bronx,BEDFORD PARK/NORWOOD,1816498.0,651996,2981000
1,Bronx,BELMONT,2752000.0,2752000,2752000
2,Bronx,BRONX-UNKNOWN,74391091.5,56470051,92312132
3,Bronx,BRONXDALE,3125671.0,2827000,3424007
4,Bronx,CITY ISLAND,678001.0,678001,678001
...,...,...,...,...,...
147,Staten Island,ROSEBANK,3354003.0,3354003,3354003
148,Staten Island,SILVER LAKE,2077903.0,1845800,2310006
149,Staten Island,SUNNYSIDE,2340743.0,2340743,2340743
150,Staten Island,TOMPKINSVILLE,5697922.0,5697922,5697922
151,Staten Island,WEST NEW BRIGHTON,1148655.0,1148655,1148655

#### 7. grouped zscore versus nongrouped zscore. 
    7.1. Calculate a grouped zscore for full market value per Boro.  
    7.2. Also calculate a non-grouped zscore for full market value. 
    7.3. Show the first 5 obs of each series.

In [10]:
grouped_zScore = housing.groupby('Boro')['Full.Market.Value'].transform(lambda x: zscore(x))
grouped_zScore

0      -0.475535
1       0.311519
2       2.339892
3       1.552030
4       1.106683
          ...
2621    0.018567
2622    0.877800
2623    0.628124
2624    1.213689
2625    0.164444
Name: Full.Market.Value, Length: 2626, dtype: float64

In [11]:
non_grouped_zScore = zscore(housing['Full.Market.Value'])
non_grouped_zScore

0      -0.239159
1       0.746067
2       3.285159
3       2.298924
4       1.741443
          ...
2621   -0.405370
2622   -0.326224
2623   -0.349222
2624   -0.295284
2625   -0.391933
Name: Full.Market.Value, Length: 2626, dtype: float64

In [19]:
non_grouped = housing['Full.Market.Value'].transform(lambda x: zscore(x))
non_grouped

0      -0.239159
1       0.746067
2       3.285159
3       2.298924
4       1.741443
          ...
2621   -0.405370
2622   -0.326224
2623   -0.349222
2624   -0.295284
2625   -0.391933
Name: Full.Market.Value, Length: 2626, dtype: float64

In [12]:
print(grouped_zScore.head())

print(non_grouped_zScore.head())

0   -0.475535
1    0.311519
2    2.339892
3    1.552030
4    1.106683
Name: Full.Market.Value, dtype: float64
0   -0.239159
1    0.746067
2    3.285159
3    2.298924
4    1.741443
Name: Full.Market.Value, dtype: float64

#### 8. Filter rows based on conditions on groups
    8.1. show the frequency count (number of houses) per Boro. (use value_counts() method) 
    8.2. filter out the houses that belong to a Boro with a frequency count less than 100. name the new dataframe as housing_filtered 
    8.3. show the frequency count (number of houses) per Boro in the filtered_housing dataframe.

In [13]:
house_freq_count = housing['Boro'].value_counts()
house_freq_count

Manhattan        1380
Brooklyn          717
Queens            434
Bronx              69
Staten Island      26
Name: Boro, dtype: int64

In [14]:
housing_filtered = house_freq_count.loc[house_freq_count < 100]

In [15]:
filtered_housing = housing_filtered
filtered_housing

Bronx            69
Staten Island    26
Name: Boro, dtype: int64

#### 9. Calculate the mean of Gross.SqFt and Estimated.Gross.Income by  Boro and Neighborhood
    - define a variable groups that holds grouped dataframe by Boro and Neighborhood. include only the Boro, Neighborhood, Gross.SqFt and Estimated.Gross.Income columns from the original dataset. 
    - show the mean of Gross.SqFt and Estimated.Gross.Income per group.

In [16]:
groups = housing[['Boro', 'Neighborhood', 'Gross.SqFt', 'Estimated.Gross.Income']].groupby(['Boro', 'Neighborhood'])

groups.mean()

                                      Gross.SqFt  Estimated.Gross.Income
Boro          Neighborhood
Bronx         BEDFORD PARK/NORWOOD  4.827900e+04                562398.5
              BELMONT               4.875000e+04                812175.0
              BRONX-UNKNOWN         2.295597e+06              26939916.0
              BRONXDALE             1.096907e+05               1016980.0
              CITY ISLAND           1.660500e+04                218190.0
...                                          ...                     ...
Staten Island ROSEBANK              6.239100e+04                831672.0
              SILVER LAKE           5.802600e+04                739582.0
              SUNNYSIDE             6.539200e+04                857943.0
              TOMPKINSVILLE         1.590960e+05               1942562.0
              WEST NEW BRIGHTON     2.894300e+04                406939.0

[152 rows x 2 columns]

#### 10. Iterate through the groups and print the gross square feet for Bronx boro in BEDFORD PARK/NORWOOD. 
    The output should be as follows: 
        the gross square Feet for Bronx in BEDFORD PARK/NORWOOD is: 79920

In [17]:
for i, group in groups:
    if i == ('Bronx', 'BEDFORD PARK/NORWOOD'):
        print(f"The gross square Feet for Bronx in BEDFORD PARK/NORWOOD is: {group['Gross.SqFt'].max()}")

The gross square Feet for Bronx in BEDFORD PARK/NORWOOD is: 79920