# Introduction to pandas

Print the number of rows and columns in the dataset using the shape attribute of the dataframe object

In [5]:
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes() # load the dataset
print(diabetes.keys()) 
# print(diabetes.DESCR) 
# print(diabetes.feature_names) # these are the column names

df=pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
print(df.shape)
df

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])
(442, 10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

Print the first 5 observations of the dataset.

In [3]:
print(df.head())

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6
0 -0.002592  0.019907 -0.017646
1 -0.039493 -0.068332 -0.092204
2 -0.002592  0.002861 -0.025930
3  0.034309  0.022688 -0.009362
4 -0.002592 -0.031988 -0.046641

Print the column names of the dataset

In [64]:
print(df.columns)

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

Get the dtype of each column

In [9]:
print(df.dtypes)

age    float64
sex    float64
bmi    float64
bp     float64
s1     float64
s2     float64
s3     float64
s4     float64
s5     float64
s6     float64
dtype: object

Use loc to show the second row of the dataset.

In [10]:
row2 = df.loc[1]
print(row2)

age   -0.001882
sex   -0.044642
bmi   -0.051474
bp    -0.026328
s1    -0.008449
s2    -0.019163
s3     0.074412
s4    -0.039493
s5    -0.068332
s6    -0.092204
Name: 1, dtype: float64

Use loc to show the second, 100th and 150th rows of the dataset

In [12]:
rows_selected = df.loc[[1, 99, 149]]
print(rows_selected)

          age       sex       bmi        bp        s1        s2        s3  \
1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
99  -0.001882 -0.044642 -0.064408  0.011544  0.027326  0.037517 -0.013948
149 -0.049105  0.050680 -0.005128 -0.046985 -0.020832 -0.020416 -0.069172

           s4        s5        s6
1   -0.039493 -0.068332 -0.092204
99   0.034309  0.011785 -0.054925
149  0.071210  0.061238 -0.038357

Use iloc to show the the second and 100th rows of the dataset

In [13]:
rows_sample = df.iloc[[1, 99]]
print(rows_sample)

         age       sex       bmi        bp        s1        s2        s3  \
1  -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
99 -0.001882 -0.044642 -0.064408  0.011544  0.027326  0.037517 -0.013948

          s4        s5        s6
1  -0.039493 -0.068332 -0.092204
99  0.034309  0.011785 -0.054925

Use loc to show the bmi column of the dataset

In [5]:
bmi_column = df.loc[:, 'bmi']
print(bmi_column)

0      0.061696
1     -0.051474
2      0.044451
3     -0.011595
4     -0.036385
         ...
437    0.019662
438   -0.015906
439   -0.015906
440    0.039062
441   -0.073030
Name: bmi, Length: 442, dtype: float64

Use loc to show the bmi, bp columns of the dataset

In [18]:
selected_columns = df.loc[:, ['bmi', 'bp']]
print(selected_columns)

          bmi        bp
0    0.061696  0.021872
1   -0.051474 -0.026328
2    0.044451 -0.005670
3   -0.011595 -0.036656
4   -0.036385  0.021872
..        ...       ...
437  0.019662  0.059744
438 -0.015906 -0.067642
439 -0.015906  0.017293
440  0.039062  0.001215
441 -0.073030 -0.081413

[442 rows x 2 columns]

Use iloc to show the last row of the dataset

In [19]:
last_row = df.iloc[-1]
print(last_row)

age   -0.045472
sex   -0.044642
bmi   -0.073030
bp    -0.081413
s1     0.083740
s2     0.027809
s3     0.173816
s4    -0.039493
s5    -0.004222
s6     0.003064
Name: 441, dtype: float64

Use iloc to show the last two observations of the dataset

In [21]:
last_two_rows = df.iloc[-2:]
print(last_two_rows)

          age       sex       bmi        bp        s1        s2        s3  \
440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

           s4        s5        s6
440  0.026560  0.044529 -0.025930
441 -0.039493 -0.004222  0.003064

Use loc to create a subset of the first 10 obs for age,bmi,bp columns. Then show the first 5 obs of the subset dataframe.

In [23]:
subset = df.loc[:9, ['age', 'bmi', 'bp']] # create the subset
print(subset.head())

        age       bmi        bp
0  0.038076  0.061696  0.021872
1 -0.001882 -0.051474 -0.026328
2  0.085299  0.044451 -0.005670
3 -0.089063 -0.011595 -0.036656
4  0.005383 -0.036385  0.021872

Use iloc and slicing columns method with colon (:) to slice the first 6 columns of the dataset)keep all rows). Save the sliced subset in dataframe subset, then show the first 5 obs of dataframe subset.

In [65]:
subset = df.iloc[:, 0:6]
print(subset.head())

        age       sex       bmi        bp        s1        s2
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596

Slice columns 3 to 5 inclusive into dataframe subset. then show the first 5 obs of dataframe subset.

In [6]:
subset = df.iloc[:, 2:5]
print(subset.head())

        bmi        bp        s1
0  0.061696  0.021872 -0.044223
1 -0.051474 -0.026328 -0.008449
2  0.044451 -0.005670 -0.045599
3 -0.011595 -0.036656  0.012191
4 -0.036385  0.021872  0.003935

Use iloc and slice every other column up to 5 inclusive into a dataframe subset. Then show the first 5 obs of the dataframe subset.

In [71]:
subset = df.iloc[:, :6:2]
print(subset.head())

        age       bmi        s1
0  0.038076  0.061696 -0.044223
1 -0.001882 -0.051474 -0.008449
2  0.085299  0.044451 -0.045599
3 -0.089063 -0.011595  0.012191
4  0.005383 -0.036385  0.003935

Use loc to display the age for the 10th row of the dataframe.

In [31]:
row_10_age = df.loc[9, 'age']
print(row_10_age)

-0.07090024709715959

Use loc to display the bmi for row numbers 100, 200 and 300.

In [30]:
bmi_selected_rows = df.loc[[99, 199, 299], 'bmi']
print(bmi_selected_rows)

99    -0.064408
199   -0.045007
299   -0.013751
Name: bmi, dtype: float64

Use loc to display the data where age>50.

In [72]:
df1=pd.read_csv('diabetes.csv')

age_more_than_50 = df1.loc[df1['AGE'] > 50]
print(age_more_than_50)

     AGE  SEX   BMI      BP   S1     S2    S3    S4      S5   S6    Y
0     59    2  32.1  101.00  157   93.2  38.0  4.00  4.8598   87  151
2     72    2  30.5   93.00  156   93.6  41.0  4.00  4.6728   85  141
7     66    2  26.2  114.00  255  185.0  56.0  4.55  4.2485   92   63
8     60    2  32.1   83.00  179  119.4  42.0  4.00  4.4773   94  110
11    56    2  28.0   85.00  184  144.8  32.0  6.00  3.5835   77   69
..   ...  ...   ...     ...  ...    ...   ...   ...     ...  ...  ...
431   68    2  23.5  101.00  162   85.4  59.0  3.00  4.4773   91   66
432   51    1  31.5   93.00  231  144.0  49.0  4.70  5.2523  117  173
434   53    1  26.5   97.00  193  122.4  58.0  3.00  4.1431   99   49
437   60    2  28.2  112.00  185  113.8  42.0  4.00  4.9836   93  178
439   60    2  24.9   99.67  162  106.6  43.0  3.77  4.1271   95  132

[215 rows x 11 columns]

Use loc to display only bmi and bp for the females only.

In [48]:
bmi_bp_females = df1.loc[df1['SEX'] == 2, ['BMI', 'BP']]
print(bmi_bp_females)

      BMI      BP
0    32.1  101.00
2    30.5   93.00
6    22.0   90.00
7    26.2  114.00
8    32.1   83.00
..    ...     ...
428  34.6  120.00
431  23.5  101.00
437  28.2  112.00
438  24.9   75.00
439  24.9   99.67

[207 rows x 2 columns]

Get a series of age column from the dataframe object.

In [5]:
age_series=df['age']
print(age_series)

0      0.038076
1     -0.001882
2      0.085299
3     -0.089063
4      0.005383
         ...
437    0.041708
438   -0.005515
439    0.041708
440   -0.045472
441   -0.045472
Name: age, Length: 442, dtype: float64

Print the min, max and mean values for the age series.

In [51]:
min_age = age_series.min()
max_age = age_series.max()
mean_age = age_series.mean()

print(min_age)
print(max_age)
print(mean_age)

-0.1072256316073538
0.11072667545381144
-2.511816797794472e-19

Print the basic information about age series

In [52]:
age_info = age_series.describe()
print(age_info)

count    4.420000e+02
mean    -2.511817e-19
std      4.761905e-02
min     -1.072256e-01
25%     -3.729927e-02
50%      5.383060e-03
75%      3.807591e-02
max      1.107267e-01
Name: age, dtype: float64

Print the subset of ages that are less than mean age value

In [56]:
age_mean = age_series.mean()
print(age_mean)

ages_subset = age_series[age_series < age_mean]

print(ages_subset)

-2.511816797794472e-19
1     -0.001882
3     -0.089063
5     -0.092695
6     -0.045472
9     -0.070900
         ...
435   -0.012780
436   -0.056370
438   -0.005515
440   -0.045472
441   -0.045472
Name: age, Length: 202, dtype: float64

Sort the age series and print sorted values.

In [57]:
age_series_sorted = age_series.sort_values()
print(age_series_sorted)

26    -0.107226
374   -0.107226
344   -0.107226
79    -0.103593
226   -0.103593
         ...
211    0.092564
311    0.096197
321    0.096197
402    0.110727
204    0.110727
Name: age, Length: 442, dtype: float64

Print all the unique values from the age series.

In [6]:
age_series_unique = age_series.unique()
print(age_series_unique)

[ 0.03807591 -0.00188202  0.08529891 -0.08906294  0.00538306 -0.09269548
 -0.04547248  0.06350368  0.04170844 -0.07090025 -0.09632802  0.02717829
  0.01628068  0.04534098 -0.05273755 -0.00551455  0.07076875 -0.0382074
 -0.02730979 -0.04910502 -0.0854304  -0.06363517 -0.06726771 -0.10722563
 -0.02367725  0.05260606  0.06713621 -0.06000263  0.03444337  0.03081083
  0.04897352  0.01264814 -0.00914709 -0.09996055  0.01991321 -0.05637009
 -0.07816532 -0.04183994  0.05987114 -0.03457486 -0.03094232 -0.10359309
 -0.01641217  0.00175052 -0.02004471  0.0562386   0.02354575  0.0090156
 -0.07453279 -0.01277963 -0.08179786  0.08166637  0.11072668  0.09256398
  0.07440129  0.07803383  0.09619652  0.08893144]