# Lab 1
### Learning outcomes 
Upon successful completion of this lab, you will have demonstrated the abilities to: 
1.	Loading a dataset into a pandas dataframe
2.	Counting how many rows and columns were loaded
3.	Determining which type of data was loaded
4.	Looking at different parts of the data by subsetting rows and columns
5.	Working with Data Series

#### Before you start
Load the diabetes dataset

## Run this cell, look at the output for each command to make sure you understand the purpose of each command
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes()
print(diabetes.keys())
print(diabetes.DESCR)
print(diabetes.feature_names) # these are the column names
# attach the feature names to the data as column names
df=pd.DataFrame(diabetes.data, columns=diabetes.feature_names)

In [9]:
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes() # load the dataset
print(diabetes.keys()) 
print(diabetes.DESCR) 
print(diabetes.feature_names) # these are the column names

df=pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target # target variable
print(df.head())

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])
.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6  target
0 -0.002592  0.019907 -0.017646   151.0
1 -0.039493 -0.068332 -0.092204    75.0
2 -0.002592  0.002861 -0.025930   141.0
3  0.034309  0.022688 -0.009362   206.0
4 -0.002592 -0.031988 -0.046641   135.0

1. print the number of rows and columns in the dataset using the shape attribute of the dataframe object

In [3]:
from sklearn.datasets import load_diabetes
import pandas as pd

diabetes=load_diabetes() # load the dataset
# print(diabetes.keys()) 
# print(diabetes.DESCR) 
# print(diabetes.feature_names) # these are the column names

df=pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target # Add the target variable
print(df.shape)

(442, 10)

2. print the first 5 observations of the dataset.

In [6]:
print(df.head())

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6
0 -0.002592  0.019907 -0.017646
1 -0.039493 -0.068332 -0.092204
2 -0.002592  0.002861 -0.025930
3  0.034309  0.022688 -0.009362
4 -0.002592 -0.031988 -0.046641

3. print the column names of the dataset

In [8]:
print(diabetes.feature_names)
# print(df.columns)

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

4. get the dtype of each column

In [9]:
print(df.dtypes)

age    float64
sex    float64
bmi    float64
bp     float64
s1     float64
s2     float64
s3     float64
s4     float64
s5     float64
s6     float64
dtype: object

5. use loc to show the second row of the dataset.

In [10]:
row2 = df.loc[1]
print(row2)

age   -0.001882
sex   -0.044642
bmi   -0.051474
bp    -0.026328
s1    -0.008449
s2    -0.019163
s3     0.074412
s4    -0.039493
s5    -0.068332
s6    -0.092204
Name: 1, dtype: float64

6. use loc to show the second, 100th and 150th rows of the dataset

In [12]:
rows_selected = df.loc[[1, 99, 149]]
print(rows_selected)

          age       sex       bmi        bp        s1        s2        s3  \
1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
99  -0.001882 -0.044642 -0.064408  0.011544  0.027326  0.037517 -0.013948
149 -0.049105  0.050680 -0.005128 -0.046985 -0.020832 -0.020416 -0.069172

           s4        s5        s6
1   -0.039493 -0.068332 -0.092204
99   0.034309  0.011785 -0.054925
149  0.071210  0.061238 -0.038357

7. use iloc to show the the second and 100th rows of the dataset

In [13]:
rows_sample = df.iloc[[1, 99]]
print(rows_sample)

         age       sex       bmi        bp        s1        s2        s3  \
1  -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
99 -0.001882 -0.044642 -0.064408  0.011544  0.027326  0.037517 -0.013948

          s4        s5        s6
1  -0.039493 -0.068332 -0.092204
99  0.034309  0.011785 -0.054925

8. use loc to show the bmi column of the dataset

In [16]:
bmi_column = df.loc[:, 'bmi']
print(bmi_column)

0      0.061696
1     -0.051474
2      0.044451
3     -0.011595
4     -0.036385
         ...
437    0.019662
438   -0.015906
439   -0.015906
440    0.039062
441   -0.073030
Name: bmi, Length: 442, dtype: float64

9. Use loc to show the bmi, bp columns of the dataset

In [18]:
selected_columns = df.loc[:, ['bmi', 'bp']]
print(selected_columns)

          bmi        bp
0    0.061696  0.021872
1   -0.051474 -0.026328
2    0.044451 -0.005670
3   -0.011595 -0.036656
4   -0.036385  0.021872
..        ...       ...
437  0.019662  0.059744
438 -0.015906 -0.067642
439 -0.015906  0.017293
440  0.039062  0.001215
441 -0.073030 -0.081413

[442 rows x 2 columns]

10. use iloc to show the last row of the dataset

In [19]:
last_row = df.iloc[-1]
print(last_row)

age   -0.045472
sex   -0.044642
bmi   -0.073030
bp    -0.081413
s1     0.083740
s2     0.027809
s3     0.173816
s4    -0.039493
s5    -0.004222
s6     0.003064
Name: 441, dtype: float64

11. Use iloc to show the last two observations of the dataset

In [21]:
last_two_rows = df.iloc[-2:]
print(last_two_rows)

          age       sex       bmi        bp        s1        s2        s3  \
440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

           s4        s5        s6
440  0.026560  0.044529 -0.025930
441 -0.039493 -0.004222  0.003064

12. use loc to create a subset of the first 10 obs for age,bmi,bp columns. Then show the first 5 obs of the subset dataframe.

In [23]:
subset = df.loc[:9, ['age', 'bmi', 'bp']] # create the subset
print(subset.head())

        age       bmi        bp
0  0.038076  0.061696  0.021872
1 -0.001882 -0.051474 -0.026328
2  0.085299  0.044451 -0.005670
3 -0.089063 -0.011595 -0.036656
4  0.005383 -0.036385  0.021872

13. Use iloc and slicing columns method with colon (:) to slice the first 6 columns of the dataset)keep all rows). Save the sliced subset in dataframe subset, then show the first 5 obs of dataframe subset.

In [25]:
subset = df.iloc[:, :6]
print(subset.head())

        age       sex       bmi        bp        s1        s2
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596

14. slice columns 3 to 5 inclusive into dataframe subset. then show the first 5 obs of dataframe subset.

In [26]:
subset = df.iloc[:, 2:5 + 1]
print(subset.head())

        bmi        bp        s1        s2
0  0.061696  0.021872 -0.044223 -0.034821
1 -0.051474 -0.026328 -0.008449 -0.019163
2  0.044451 -0.005670 -0.045599 -0.034194
3 -0.011595 -0.036656  0.012191  0.024991
4 -0.036385  0.021872  0.003935  0.015596

15. use iloc and slice every other column up to 5 inclusive into a dataframe subset. Then show the first 5 obs of the dataframe subset.

In [28]:
subset = df.iloc[:, :6:2]
print(subset.head())

        age       bmi        s1
0  0.038076  0.061696 -0.044223
1 -0.001882 -0.051474 -0.008449
2  0.085299  0.044451 -0.045599
3 -0.089063 -0.011595  0.012191
4  0.005383 -0.036385  0.003935

16. Use loc to display the age for the 10th row of the dataframe.

In [31]:
row_10_age = df.loc[9, 'age']
print(row_10_age)

-0.07090024709715959

17. Use loc to display the bmi for row numbers 100, 200 and 300.

In [30]:
bmi_selected_rows = df.loc[[99, 199, 299], 'bmi']
print(bmi_selected_rows)

99    -0.064408
199   -0.045007
299   -0.013751
Name: bmi, dtype: float64

18. use loc to display the data where age>50.

In [39]:
# age_more_than_50 = df.loc[df['age'] > 10, ['age']]
# print(age_more_than_50)
results = df.loc[:, 'age']
print(results) # Why are ages in 0s?

0      0.038076
1     -0.001882
2      0.085299
3     -0.089063
4      0.005383
         ...
437    0.041708
438   -0.005515
439    0.041708
440   -0.045472
441   -0.045472
Name: age, Length: 442, dtype: float64

19. use loc to display only bmi and bp for the females only.

20. Get a series of age column from the dataframe object.

21. print the min, max and mean values for the age series.

22.print the basic information about age series

23.print the subset of ages that are less than mean age value

24.Sort the age series and print sorted values.

25.print all the unique values from the age series.